<%- include('./partials/head') %>

<main>
    <section id="start" class="top-content">
        <h1>Neem een 👀 kijkje naar mijn 💻 werk.</h1>
        <ul>
            <% portfolioItems.forEach(link => { %>
                <li><a href="#<%= link.id %>"><%= link.icon %> <%= link.title %></a></li>
            <% }); %>
        </ul>
        <p><i class="downarrow fa fa-arrow-down" aria-hidden="true"></i></p>
    </section>

    <% portfolioItems.forEach(item => { %>
        <section id="<%= item.id %>" class="<%= item.BGColor %>">
            <div class="inner-section">
                <div class="content-box">
                    <img src="/img/<%= item.imageURL %>">
                    <h2><%= item.title %></h2>
                    <p><%= item.description %></p>
                    <div class="bottom-content-box">
                        <ul class="info-box">
                            <li>Sprint <%= item.sprint %></li>
                            <li><%= item.date %></li>
                        </ul>
                        <div class="live-link">
                            <a class="url" href="<%= item.redirectURL %>" target="_blank">Bekijk de website</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#start" class="uparrow"><i class="downarrow fa fa-arrow-up" aria-hidden="true"></i></a>
        </section>
    <% }); %>
</main>

<%- include('./partials/foot') %>